<ul class="flex-container">
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <figure>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" 
             alt="Portrait of Bulbasaur">
        <figcaption class="image-caption">#0001</figcaption>
      </figure>
      <div class="pokemon-info">
        <h2 class="pokemon-name">Bulbasaur</h2>
        <div>
          <span class="pill background-colour-grass">Grass</span>
        </div>
        <div>
          <span class="pill background-colour-poison">Poison</span>
        </div>
      </div>
    </li>    
  </ul>