<body>
    <ul class="flex-container horizontal">
      <li class="flex-item">
        <div class="flex-container vertical pokemon-profile">
          <div>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbasaur">
          </div>
          <div class="pokemon-info">
            <div class="pokemon-pokedex-number">
              #0001
            </div>
            <div class="pokemon-name">
              Bulbasaur
            </div>
            <div>
              <div class="pill background-colour-grass">
                Grass
              </div>
              <div class="pill background-colour-poison">
                Poison
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-item">
        <div class="flex-container vertical pokemon-profile">
          <div>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png" alt="Bulbasaur">
          </div>
          <div class="pokemon-info">
            <div class="pokemon-pokedex-number">
              #0002
            </div>
            <div class="pokemon-name">
              Ivysaur
            </div>
            <div>
              <div class="pill background-colour-grass">
                Grass
              </div>
              <div class="pill background-colour-poison">
                Poison
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-item">
        <div class="flex-container vertical pokemon-profile">
          <div>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png" alt="Bulbasaur">
          </div>
          <div class="pokemon-info">
            <div class="pokemon-pokedex-number">
              #0003
            </div>
            <div class="pokemon-name">
              Venusaur
            </div>
            <div>
              <div class="pill background-colour-grass">
                Grass
              </div>
              <div class="pill background-colour-poison">
                Poison
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-item">
        <div class="flex-container vertical pokemon-profile">
          <div>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="Bulbasaur">
          </div>
          <div class="pokemon-info">
            <div class="pokemon-pokedex-number">
              #0004
            </div>
            <div class="pokemon-name">
              Charmander
            </div>
            <div>
              <div class="pill background-colour-fire">
                Fire
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-item">
        <div class="flex-container vertical pokemon-profile">
          <div>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/005.png" alt="Bulbasaur">
          </div>
          <div class="pokemon-info">
            <div class="pokemon-pokedex-number">
              #0005
            </div>
            <div class="pokemon-name">
              Charmeleon
            </div>
            <div>
              <div class="pill background-colour-fire">
                Fire
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-item">
        <div class="flex-container vertical pokemon-profile">
          <div>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png" alt="Bulbasaur">
          </div>
          <div class="pokemon-info">
            <div class="pokemon-pokedex-number">
              #0006
            </div>
            <div class="pokemon-name">
              Charizard
            </div>
            <div>
              <div class="pill background-colour-fire">
                Fire
              </div>
              <div class="pill background-colour-flying">
                Flying
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </body>